<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Add New Tasks!</h3>
      <br />
      <label>Task:</label>
      <input type="text" class="form-control" #taskInput />
      <br />
      <button class="btn btn-primary" (click)="onCreateTask(taskInput)">Add Task</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <p *ngIf="!isFetching && loadedTasks.length < 1">
        No tasks available!
      </p>
      <p *ngIf="isFetching">Loading...</p>
      <app-item *ngFor="let loadedTask of loadedTasks; let i = index" [item]="{ index: i , task: loadedTask }"
        (itemDeleted)="onDeleteTask($event)">
      </app-item>
    </div>
  </div>
</div>